<!DOCTYPE html>
{% load staticfiles %}
{% load rango_template_tags %}

<html>
	<head lang="en">
        <meta charset="UTF-8" />
		<title>
            Rango-
            {% block title_block %}
            How to Tango with Django!
            {% endblock %}
        </title>
	</head>
	<body>
        <h1>Rango says...</h1>
            <div>
                hey there partner!
            </div>
        {% block body_block %}
            This is body_block's default content.
        {% endblock %}
        <hr />
        <div>
            <ul>
                <li><a href="{% url 'add_category' %}">Add New Category</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'index' %}">Index</a></li>
            </ul>
        </div>

        <div>
            {% block sidebar_block %}
                {% get_category_list  category %}
            {% endblock %}
        </div>
    </body>
    <footer>
        <p>Built by Yunwen Lu, 2019<br /></p>
    </footer>
</html>